
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 16px;
}

.navbar-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar-logo-img {
    width: 85px; 
    height: auto;
}

.navbar-title {
    margin: 0;
    font-size: 20px;
    display: none; 
}

.navbar-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin-left: 15px;
    transition: 0.3s;
    font-size: 16px;
}

.navbar-links li:hover {
    color: var(--btn);
}

.navbar-buttons {
    display: flex;
    align-items: center;
}

.navbar-button {
    margin-left: 10px;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
}

.navbar-button.active {
    background-color: var(--btn);
    color: white;
}
